{% extends "core/base.html" %}
{% block title %}Home {% endblock title %}
{% block content %}
    <div class="row mt-2">
        <div class="col-md-6">
            <div class="card bg-primary">
                <div class="card-body">
                    <h1>welcome home</h1>
                </div>
                
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="card bg-primary">
                <div class="card-body">
                    <h1>welcome home</h1>
                </div>
                
            </div>
        </div>
    </div>
    

{% endblock content %}