{% extends "enroll/base.html" %}

{% block content %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-2">

                </div>
                <div class="col-sm-8">
                    <form action="" method="post" novalidate>
                        {% csrf_token %}
                        {% for field in form %}
                            {{field.label_tag}}
                            {{field}} <span class="errors">{{field.errors | striptags}}</span>
                        {% endfor %}
                        <input type="submit" value="Set New Password" class="form-control btn btn-primary mt-1">
                        <span class="errors">{{ form.non_field_errors | striptags }}</span>
                    </form>
                </div>
                <div class="col-sm-2">
                    
                </div>
            </div>
        </div>
    </section>


{% endblock content %}