{% extends "core/base.html" %}


{% block content %}

    <div class="row mt-4">
        <div class="col-sm-1">

        </div>
        <div class="col-sm-8">
            <form action="" method="post" novalidate>
                {% csrf_token %}
                {% for field in form %}
                    {{field.label_tag}} <span class="errors">{{field.errors | striptags}}</span>
                    {{field}}
                {% endfor %}
                <input type="submit" value="Login" class="form-control btn btn-primary mt-1">
                <span class="errors">{{form.non_field_errors | striptags}}</span>
            </form>
        </div>
        <div class="col-sm-2">
            
        </div>
    </div>


{% endblock content %}