<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="get">
        {% for field in form %}
            <div>
                {{field.label_tag}}
                {{field}} 
            </div>
            <br>
        {% endfor %}
        <input type="submit" value="submit">
    </form>

    <hr>

    <form action="" method="get">
        {% for field in form %}
            <div>
                {{field.label_tag}}
                {{field}}
                {{field.label}}
                {{field.help_text}}
                {{field.field.required}} 
            </div>
            <br>
        {% endfor %}
        <input type="submit" value="submit">
    </form>
    
</body>
</html>