{% extends "core/base.html" %}
{% load static %}
{% block content %}
    <div class="mt-5">
        <div class="text-center">
            <img src="{% static 'core/images/IMG_4616_compressed.jpg' %}" alt="img-thumnail"
            class="img-thumbnail" width="150px" height="150px" >
        </div>
        
        <div class="text-white mt-5 mx-5">
            <h3 class="fw-bold">Hello, </h3>
            <div class="px-4">
                <p style="text-indent:100px;">
                    I am <b class="text-warning">Linkan Kumar Sahu</b> having 5 years of overall experience in IT. I have 
                    worked in multiple domain like testing, development, data analytics , data science and so on. 

                    I have served <b class="text-warning">TCS</b> for around 3.8 years and my last working day was on 22nd july 2022.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni est provident rem officiis dicta explicabo laudantium voluptate sed facere accusantium ipsa voluptas molestias, hic corrupti consectetur! Incidunt repudiandae nam atque amet? Eum quis omnis possimus animi sunt nisi voluptate recusandae impedit unde iusto, eveniet odio officiis error, reiciendis repudiandae officia?
                </p>
            </div>
        </div>
        <div class="text-center">
            <a href="" class="btn btn-outline-primary">Contact Me</a>
        </div>
        
    </div>

{% endblock content %}