<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'enroll/css/enroll.css' %}">
</head>
<body>
    <div class="container bg-success">
        <div class="row ">
            <div class="col-sm-12 mt-5">
                <h1 class='text-center text-white m-5'>You are enrolled successfully ! </h1>
            </div>
        </div>
    </div>
</body>
</html>