{% extends "enroll/base.html" %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-primary alert-{{message.tags}} alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}    
    {% endif %}
    <div class="col-sm-7 ">
        <form action="" method="post" class="m-4 p-4" novalidate>
            {% csrf_token %}
            {% for field in form %}
                {{field.label_tag}}
                {{field}} <span class="errors">{{ field.errors | striptags }}</span> <br>  
            {% endfor %}
            <input type="submit" value="Login" class="form-control btn btn-primary mt-3">
            <small class="errors">{{form.non_field_errors}}</small>
        </form>
    </div>
{% endblock content %}