html,body{
    
    height:100%;
}
.container-fluid{
    min-height: 100%;
}

.nav-link{
    color:white;
}

.nav-link:hover{
    background: rgb(130, 173, 241);
    color:white;
    font-weight: bold;
    text-transform: capitalize;
}

a.nav-link.active{
    background: rgb(6, 101, 243);
}

.card-body{
    text-align: center;
}
.card-body:hover{
    background: #055f02;
    color:white;
    cursor: pointer;
    transition: 0.7s;
    font-weight: bold;
    outline: transparent;
}