html,body{
    height: 100%;
    background-color: #e94d0f;
}

.container{
    min-height:100%;
}

label{
    color:white;
}

.alert-success{
    background: green;
    color:white;
    font-weight: bold;
}

.alert-info{
    background-color: blue;
    color:white;
    font-weight: bold;
}
.alert-error{
    background-color: red;
    color:white;
    font-weight: bold;
}
.alert-warning{
    background-color: yellow;
    color:white;
    font-weight: bold;
}