<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>get session</h1>
    <hr>
    <h2>Product details</h2>
    <p>product id {{pid}} : price {{pprice}}</p>
    <hr>
    <h2>items</h2>
    {% for item in items %}
            {{item}} <br>
    {% endfor %}
    <hr>
    <h2>keys</h2>
    {% for key in keys %}
            {{key}} <br>
    {% endfor %}
</body>
</html>