<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>custom teplate page </h1>
    {{student.id}} - {{student.name}} - {{student.email}} - {{student.age}} - {{student.course}}

    <hr>

    {% for stu in all_students %}
        <a href="{% url 'studentdetail' stu.id %}">{{stu.id}}</a>
        {{stu.name}}
        {{stu.email}}
        {{stu.age}}
        {{stu.course}} <br>
    
    {% endfor %}
</body>
</html>